img#logo {
    width: 475px;
    animation: mymove 5s;
    animation-iteration-count: 1;
}

@keyframes mymove {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

body {
    font-family: 'Poppins', serif;
    background-image: url('/images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a, a:visited {
    color: blue;
}


.card {
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


.pricing {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px 10px;
    width: 300px;
}

@media screen and (prefers-reduced-motion) {
    img#logo {
        animation: none;
    }
    
}

@media screen and (min-width: 900px) {
    header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
        height: min-content;
    }

    body > header {
        position: sticky;
        top: 0;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    .nav_links {
        flex-direction: row;
    }

    .pricing {
        min-height: 0px;
        align-items: flex-end;
        flex-wrap: nowrap;

    }

    .card{
        /* flex: 1; */
        flex-basis: 325px;
        border: 2px solid #45ADDD;
    }

    .gallery  {
        display: none;
    }
    
    #gallery{
        display: none;
    }

    .card ul li:nth-child(2)::after {
        content: '\1F44D';
    }
}